/* CSS specific to the puzzle page(s) */
@import '/style.css';

:root,
[data-theme="light"] {
    --grid-cell-background: #f4f4f4;
    --grid-cell-border: #ccc;
    --grid-cell-completed-background: #cccccc;
    --grid-cell-completed-color: #c55155;
    --grid-cell-completed-zerozero: #ccc;
    --trail-color: #800000;
    --trail-transparency: 0.2;
}

[data-theme="dark"] {
    --grid-cell-background: #343434;
    --grid-cell-border: #646464;
    --grid-cell-completed-background: #1e1e1e;
    --grid-cell-completed-color: #deb93d;
    --grid-cell-completed-zerozero: #646464;
    --trail-color: #400000;
    --trail-transparency: 0.3;
}

/* Container for the main content */
.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    height: calc(100vh - 120px);

    /* Full height minus navbar and title */
    box-sizing: border-box;
}

.left-side,
.right-side {
    border: 1px solid var(--panel-border);
    border-radius: 8px;
    background-color: var(--panel-background);

    padding-top: 0px;
    padding-bottom: 20px;
}

.left-side h3,
.right-side h3 {
    margin-top: 0px;
    padding-top: 20px;
}

/* Left Side (Grid and Controls) */
.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    height: min-content;
}

/* Right Side (Scrollable Content) */
.right-side {
    flex: 1;
    overflow-y: auto;
    padding-left: 20px;
    max-height: calc(80vh);
}

.grid-container {
    display: grid;
    gap: 10px;
    aspect-ratio: 1 / 1;
    /* Ensure the grid is square */
    width: 80%;
    /* Relative width to container */
    max-width: 400px;
    /* Maximum size */
    min-width: 200px;
    /* Minimum size */
}

.grid-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;

    background-color: var(--grid-cell-background);
    border: 1px solid var(--grid-cell-border);
    font-size: 1.5em;

    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #edeff1;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10%;
    position: relative;
}

/* The user is currently clicking or dragging through this cell */
.grid-item.selected {
    background-color: #e9ba3a;
}

/* This cell is empty (e.g. as in a waffle grid)*/
.grid-item.hidden {
    background-color: var(--panel-background);
    border: none;
    cursor: default;
}

/* There are no more scoring words using this letter */
.grid-item.zerozero {
    background-color: var(--grid-cell-completed-background);
    color: var(--grid-cell-completed-zerozero);
}

/* All words have been found (does not include bonus, just main words) */
.grid-item.completed {
    background-color: var(--grid-cell-completed-background);
    color: var(--grid-cell-completed-color);
}

.grid-item::before,
.grid-item::after {
    position: absolute;
    bottom: 0px;
    font-size: 0.5em;
}

.grid-item::before {
    content: attr(red-counter);
    left: 0px;
    color: #e03030;
}

.grid-item::after {
    content: attr(grey-counter);
    right: 0px;
    color: #666;
}

canvas {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    pointer-events: none;
}

/* Word counts list*/

.word-count-list {
    width: 100%;
}

.word-count-item {
    display: flex;
    padding: 4px 0; /* Add some vertical spacing */
    margin-left: 20px;
}

.word-count-word {
    text-align: left;
  }
  
  .word-count-total {
    text-align: right;
    padding-left: 16px; /* Add some spacing between fruit and total */
  }

/* Media queries */

@media (max-width: 768px) and (orientation: landscape) {
    .container {
        height: fit-content;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .container {
        flex-direction: column;
    }

    .left-side {
        order: 1;
    }

    .right-side {
        order: 2;
        overflow-y: unset;
        max-height: none;
    }

    .grid {
        width: 100%;
        max-width: 400px;
    }
}