/* Define CSS variables for default and light theme */
:root,
[data-theme="light"] {
    --brand-color: #9030B0;

    --background-color: #ffffff;
    --button-active-background: #0056b3;
    --button-background: #007bff;
    --button-disabled-background: #ccc;
    --button-hover-background: #0056b3;
    --button-text-color: #ffffff;
    --checkbox-color: #007bff;
    --checkbox-border: #333;
    --control-background: #ffffff;
    --control-border: #ccc;
    --dialog-background: #ffffff;
    --dialog-border: #ccc;
    --icon-error-color: #dc3545;
    --icon-info-color: #007bff;
    --icon-warning-color: #ffc107;
    --list-background: #f8f9fa;
    --list-border: #e9ecef;
    --navbar-border: #ccc;
    --navbar-background: #e9ecef;
    --navbar-link-active-background: #007bff;
    --navbar-link-active-color: #ffffff;
    --navbar-link-color: #007bff;
    --navbar-link-hover-background: #f664b4;
    --panel-background: #e9ecef;
    --panel-border: #ccc;
    --tab-active-background: #ffffff;
    --tab-background: #f1f1f1;
    --tab-border: #ccc;
    --text-color: #000000;
}

/* Define CSS variables for dark theme */
[data-theme="dark"] {
    --brand-color: #ffffff;

    --background-color: #121212;
    --button-active-background: #4a90e2;
    --button-background: #64b5f6;
    --button-disabled-background: #333;
    --button-hover-background: #4a90e2;
    --button-text-color: #333;
    --checkbox-color: #64b5f6;
    --checkbox-border: #eee;
    --control-background: #2c2c2c;
    --control-border: #555;
    --dialog-background: #1e1e1e;
    --dialog-border: #333;
    --icon-error-color: #ef5350;
    --icon-info-color: #64b5f6;
    --icon-warning-color: #ffca28;
    --list-background: #1e1e1e;
    --list-border: #333;
    --navbar-background: #1e1e1e;
    --navbar-border: #333;
    --navbar-link-active-background: #64b5f6;
    --navbar-link-active-color: #ffffff;
    --navbar-link-color: #64b5f6;
    --navbar-link-hover-background: #f664b4;
    --panel-background: #1e1e1e;
    --panel-border: #333;
    --tab-active-background: #1e1e1e;
    --tab-background: #2c2c2c;
    --tab-border: #444;
    --text-color: #eee;
}

/* Apply global styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Verdana, Arial, sans-serif;
    margin: 0px;
    padding: 20px;

    /* Force a minimum page size for the benefit of other body styling */
    min-height: 100vh;
}

/* Navbar */

.navbar {
    background-color: var(--navbar-background);
    height: 48px;
    /* Fixed height for the navbar */
    display: flex;
    align-items: center;
    /* Vertically center items */
    justify-content: flex-end;
    /* Align items to the right */
    padding: 0px;
    /* 20px margin on the sides */
    position: relative;
    /* Needed for absolute positioning of the product icon */
    /* margin: 20px; */
    /* 20px margin around the navbar */
}

/* Product container (icon and name) */
.product-container {
    display: flex;
    align-items: center;
    /* Vertically center the icon and name */
    text-decoration: none;
    /* Remove underline from link */
    color: white;
    /* Text color */
    position: absolute;
    /* Position the container absolutely */
    left: 8px;
    /* Align to the left margin */
    top: -8px;
    /* Protrude 4px above the navbar */
}

/* Product icon */
.product-icon {
    width: 64px;
    /* Size of the icon */
    height: 64px;
    /* Size of the icon */
    background-color: #555;
    /* Background color of the icon */
    display: flex;
    align-items: center;
    /* Center the icon vertically */
    justify-content: center;
    /* Center the icon horizontally */
    border-radius: 5px;
    /* Slightly rounded corners */
}

.product-icon i {
    font-size: 1.5em;
    /* Size of the icon */
}

/* Product name label */
.product-name {
    font-size: 1.2em;
    /* Size of the product name */
    font-weight: bold;
    /* Make the name stand out */
    margin-left: 10px;
    /* Space between icon and name */
    color: var(--brand-color);
}

/* Right side of the navbar (buttons with icons) */
.navbar-right {
    display: flex;
    gap: 4px;
    padding-right: 4px;
    /* Space between buttons */
}

/* Button Styles */
:root {
    --icon-stroke-color: #000000;
    /* Default stroke color (light theme) */
    --icon-fill-color: none;
    /* Default fill color (light theme) */
}

[data-theme="dark"] {
    --icon-stroke-color: #ffffff;
    /* Stroke color for dark theme */
    --icon-fill-color: none;
    /* Fill color for dark theme */
}

.toolbar-button {
    background-color: transparent;
    border: none;
    color: var(--background-color);
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}

.toolbar-button-icon {
    background-color: transparent;
    width: 24px;
    height: 24px;
    stroke: var(--icon-stroke-color);
    fill: var(--icon-fill-color);
    transition: stroke 0.3s, fill 0.3s;
}

.toolbar-button-icon:hover {
    stroke: var(--navbar-link-hover-background);
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: var(--control-background);
    border: 1px solid var(--control-border);
    color: var(--text-color);
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.toolbar-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Links */

a {
    text-decoration: none;
}

a:link {
    color: var(--navbar-link-color);
}

a:visited {
    color: var(--navbar-link-active-background);
}

a:hover {
    color: var(--navbar-link-hover-background);
}

a:active {
    color: var(--navbar-link-active-color);
}

/* Buttons */

.button {
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

.button:active {
    background-color: var(--button-active-background);
}

.button:hover {
    background-color: var(--button-hover-background);
}

.button:disabled {
    background-color: var(--button-disabled-background);
}

.button.active {
    background-color: var(--button-active-background);
}

/* Panel */

/* Container for the main content */
.panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 20px;
    gap: 20px;
    box-sizing: border-box;

    /* Full height minus navbar and title */
    height: calc(100vh - 120px);
}

.inner-panel {
    border: 1px solid var(--panel-border);
    border-radius: 8px;
    background-color: var(--panel-background);

    flex: 0 1 65%;
    max-width: 65%;

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding-bottom: 20px;
}

.paragraph {
    margin: 0px;
    padding: 20px 20px 0px 20px;
}

/* ComboBox*/

.combobox {
    background-color: var(--background-color);
    border-color: var(--control-border);
    color: var(--text-color);
    border-radius: 4px;
    padding: 4px;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
}

.combobox:hover {
    border-color: var(--text-color);
}

.combobox option {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* CheckBox */

/* Dark mode */

.checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid var(--control-border);
    border-radius: 4px;
    background-color: var(--background-color);
    flex-shrink: 0;
    margin-right: 8px;
}

.checkbox-container input:checked~.checkmark {
    background-color: var(--button-background);
    border-color: var(--control-border);
}

.checkbox-container input:checked~.checkmark:hover {
    background-color: var(--button-hover-background);
    border-color: var(--text-color);
}

/* Apply focus styles regardless of whether the checkbox is checked or not */
.checkbox-container input:focus~.checkmark {
    outline: 1px solid var(--text-color);
    outline-offset: 0px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: 1px solid var(--button-text-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-container input:not(:checked)~.checkmark {
    background-color: var(--background-color);
    border-color: var(--control-border);
}

.checkbox-container input:not(:checked)~.checkmark:hover {
    background-color: var(--button-hover-background);
    border-color: var(--text-color);
}

/* Message Box */

/* Styling for the dialog */
dialog {
    width: 300px;
    padding: 20px;
    border: 1px solid var(--dialog-border);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: var(--dialog-background);
    color: var(--text-color);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog p {
    margin: 10px 0 20px;
    font-size: 16px;
}

dialog button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--button-text-color);
    font-size: 16px;
}

dialog button[type="submit"] {
    background-color: #28a745;
    color: white;
}

dialog button[type="button"] {
    background-color: #dc3545;
    color: white;
}

/* Icon styles */
.icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.info .icon {
    color: var(--icon-info-color);
}

.warning .icon {
    color: var(--icon-warning-color);
}

.error .icon {
    color: var(--icon-error-color);
}

/* CSS rules for mobile devices go here */
@media only screen and (max-width: 480px) {
    body {
        font-family: 'Roboto', 'Open Sans', Verdana, sans-serif;
    }
}

/* Media query for portrait mode */
@media (orientation: portrait) {
    .panel {
        flex-direction: column;
        justify-content: start;
    }

    .inner-panel {
        max-width: 100%;
        /* Allow items to take full width in portrait */
        flex: none;
        /* Prevent flex-grow/shrink */
    }
}