/* Define CSS variables for default and light theme */
:root,
[data-theme="light"] {
    --brand-color: #9030B0;

    --background-color: #ffffff;
    --button-active-background: #0056b3;
    --button-background: #007bff;
    --button-disabled-background: #ccc;
    --button-hover-background: #0056b3;
    --button-text-color: #ffffff;
    --checkbox-color: #007bff;
    --control-background: #ffffff;
    --control-border: #ccc;
    --dialog-background: #ffffff;
    --dialog-border: #ccc;
    --icon-error-color: #dc3545;
    --icon-info-color: #007bff;
    --icon-warning-color: #ffc107;
    --list-background: #f8f9fa;
    --list-border: #e9ecef;
    --navbar-border: #ccc;
    --navbar-background: #e9ecef;
    --navbar-link-active-background: #007bff;
    --navbar-link-active-color: #ffffff;
    --navbar-link-color: #007bff;
    --navbar-link-hover-background: #f664b4;
    --panel-background: #e9ecef;
    --panel-border: #ccc;
    --tab-active-background: #ffffff;
    --tab-background: #f1f1f1;
    --tab-border: #ccc;
    --text-color: #000000;
}

/* Define CSS variables for dark theme */
[data-theme="dark"] {
    --brand-color: #ffffff;

    --background-color: #121212;
    --button-active-background: #4a90e2;
    --button-background: #64b5f6;
    --button-disabled-background: #333;
    --button-hover-background: #4a90e2;
    --button-text-color: #ffffff;
    --checkbox-color: #64b5f6;
    --control-background: #2c2c2c;
    --control-border: #555;
    --dialog-background: #1e1e1e;
    --dialog-border: #333;
    --icon-error-color: #ef5350;
    --icon-info-color: #64b5f6;
    --icon-warning-color: #ffca28;
    --list-background: #1e1e1e;
    --list-border: #333;
    --navbar-background: #1e1e1e;
    --navbar-border: #333;
    --navbar-link-active-background: #64b5f6;
    --navbar-link-active-color: #ffffff;
    --navbar-link-color: #64b5f6;
    --navbar-link-hover-background: #f664b4;
    --panel-background: #1e1e1e;
    --panel-border: #333;
    --tab-active-background: #1e1e1e;
    --tab-background: #2c2c2c;
    --tab-border: #444;
    --text-color: #eee;
}

/* Apply global styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Verdana, Arial, sans-serif;
    margin: 0px;
    padding: 20px;

    /* Force a minimum page size for the benefit of other body styling */
    min-height: 100vh;
}

/* Links */

a {
    text-decoration: none;
}

a:link {
    color: var(--navbar-link-color);
}

a:visited {
    color: var(--navbar-link-active-background);
}

a:hover {
    color: var(--navbar-link-hover-background);
}

a:active {
    color: var(--navbar-link-active-color);
}

/* Theme toggle button */
.theme-toggle-btn {
    padding: 4px 8px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--navbar-link-color);
    color: var(--navbar-link-active-color);
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-background);
    border-bottom: 1px solid var(--navbar-border);
    padding: 10px 20px;

    /* width: calc(100% - 64px - 20px);
    margin-left: calc(64px + 20px);
    margin-top: 6px; */
    margin-top: 6px;
}

.navbar-icon {
    width: 64px;
    height: 64px;
    fill: var(--button-background);
    transition: fill 0.3s;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--brand-color);
    text-decoration: none;

    /* To accommodate icon-container*/
    margin-left: 64px;
}

.icon-container {
    position: absolute;
    top: 20;
    left: 20;

    /* Indentation. Add this value to the navbar-brand.margin-left */
    padding-left: 0px;
}

.top-left-icon {
    /* Let the icon dictate its size */
    width: 100%;
    height: 100%;
}

/* Panel */

/* Container for the main content */
.panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 20px;
    gap: 20px;
    box-sizing: border-box;

    /* Full height minus navbar and title */
    height: calc(100vh - 120px);
}

.inner-panel {
    border: 1px solid var(--panel-border);
    border-radius: 8px;
    background-color: var(--panel-background);

    flex: 0 1 65%;
    max-width: 65%;

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding-bottom: 20px;
}

.paragraph {
    margin: 0px;
    padding: 20px 20px 0px 20px;
}

/* Message Box */

/* Styling for the dialog */
dialog {
    width: 300px;
    padding: 20px;
    border: 1px solid var(--dialog-border);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: var(--dialog-background);
    color: var(--text-color);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog p {
    margin: 10px 0 20px;
    font-size: 16px;
}

dialog button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--button-text-color);
}

/* Icon styles */
.icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.info .icon {
    color: var(--icon-info-color);
}

.warning .icon {
    color: var(--icon-warning-color);
}

.error .icon {
    color: var(--icon-error-color);
}

/* CSS rules for mobile devices go here */
@media only screen and (max-width: 480px) {
    body {
        font-family: 'Roboto', 'Open Sans', Verdana, sans-serif;
    }
}

/* Media query for portrait mode */
@media (orientation: portrait) {
    .panel {
        flex-direction: column;
        justify-content: start;
    }

    .inner-panel {
        max-width: 100%;
        /* Allow items to take full width in portrait */
        flex: none;
        /* Prevent flex-grow/shrink */
    }
}