/* Define CSS variables for default and light theme */
:root,
[data-theme="light"] {
    --brand-color: #9030B0;

    --background-color: #ffffff;
    --button-active-background: #0056b3;
    --button-background: #007bff;
    --button-disabled-background: #ccc;
    --button-hover-background: #0056b3;
    --button-text-color: #ffffff;
    --checkbox-color: #007bff;
    --checkbox-border: #333;
    --control-background: #ffffff;
    --control-border: #ccc;
    --dialog-background: #ffffff;
    --dialog-border: #ccc;
    --icon-error-color: #dc3545;
    --icon-info-color: #007bff;
    --icon-warning-color: #ffc107;
    --icon-fill-color: none;
    --icon-stroke-color: #000000;
    --list-background: #f8f9fa;
    --list-border: #e9ecef;
    --navbar-border: #ccc;
    --navbar-background: transparent;
    --navbar-link-active-background: #007bff;
    --navbar-link-active-color: #ffffff;
    --navbar-link-color: #007bff;
    --navbar-link-hover-background: #f664b4;
    --panel-background: #e9ecef;
    --panel-border: #ccc;
    --product-container-color: #ffffff;
    --puzzle-button-playing: #e37a4d;
    --puzzle-button-played: #c4c4cc;
    --puzzle-button-unplayed: #7fa1cf;
    --puzzle-button-text: #333;
    --tab-active-background: #ffffff;
    --tab-background: #f1f1f1;
    --tab-border: #ccc;
    --text-color: #000000;
}

/* Define CSS variables for dark theme */
[data-theme="dark"] {
    --brand-color: #ffffff;

    --background-color: #121212;
    --button-active-background: #4a90e2;
    --button-background: #64b5f6;
    --button-disabled-background: #333;
    --button-hover-background: #4a90e2;
    --button-text-color: #333;
    --checkbox-color: #64b5f6;
    --checkbox-border: #eee;
    --control-background: #2c2c2c;
    --control-border: #555;
    --dialog-background: #1e1e1e;
    --dialog-border: #333;
    --icon-error-color: #ef5350;
    --icon-info-color: #64b5f6;
    --icon-warning-color: #ffca28;
    --icon-fill-color: none;
    --icon-stroke-color: #ffffff;
    --list-background: #1e1e1e;
    --list-border: #333;
    --navbar-background: transparent;
    --navbar-border: #333;
    --navbar-link-active-background: #64b5f6;
    --navbar-link-active-color: #ffffff;
    --navbar-link-color: #64b5f6;
    --navbar-link-hover-background: #f664b4;
    --panel-background: #1e1e1e;
    --panel-border: #333;
    --product-container-color: #ffffff;
    --puzzle-button-playing: #e37a4d;
    --puzzle-button-played: #c4c4cc;
    --puzzle-button-unplayed: #7fa1cf;
    --puzzle-button-text: #333;
    --tab-active-background: #1e1e1e;
    --tab-background: #2c2c2c;
    --tab-border: #444;
    --text-color: #eee;
}

/* Apply global styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Roboto", "Arial", "Helvetica", "Verdana", sans-serif;
    margin: 0px;
    padding: 20px;

    /* Disables overscroll behavior */
    overscroll-behavior: none;
}

/* Navbar */

.navbar {
    background-color: var(--navbar-background);
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
    position: relative;
}

/* Product container (icon and name) */
.product-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--product-container-color);
    position: absolute;
    left: 0px;
}

/* Product icon */
.product-icon {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-icon i {
    font-size: 1.5em;
}

/* Product name label */
.product-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
    color: var(--brand-color);
}

/* Right side of the navbar (buttons with icons) */
.navbar-right {
    display: flex;
    gap: 4px;
    padding-right: 4px;
}

#puzzle-categories {
    align-content: center;
}

#puzzle-categories .toolbar-button {
    align-content: center;
    margin: 5px;
}

/* Toolbar button styles */

.toolbar-button {
    background-color: transparent;
    border: none;
    color: var(--background-color);
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}

.toolbar-button-icon {
    background-color: transparent;
    width: 24px;
    height: 24px;
    stroke: var(--icon-stroke-color);
    fill: var(--icon-fill-color);
    transition: stroke 0.3s, fill 0.3s;
    cursor: pointer;
}

.toolbar-button-icon:hover {
    stroke: var(--navbar-link-hover-background);
}

/* Puzzle buttons */

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
    width: 100%;
}

/* Row of buttons */

.button-bar {
    display: flex;
    justify-content: flex-start;
}

.button-bar .button {
    margin-right: 10px;
    min-width: 150px;
}

.button-bar .button:last-child {
    margin-right: 0px;
}

/* Links */

a {
    text-decoration: none;
}

a:link {
    color: var(--navbar-link-color);
}

a:visited {
    color: var(--navbar-link-active-background);
}

a:hover {
    color: var(--navbar-link-hover-background);
}

a:active {
    color: var(--navbar-link-active-color);
}

/* Buttons */

.button {
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: none;
    border-radius: 4px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    font-size: 16px;
}

.button:active {
    background-color: var(--button-active-background);
}

.button:hover {
    background-color: var(--button-hover-background);
}

.button:disabled {
    background-color: var(--button-disabled-background);
}

.button.active {
    background-color: var(--button-active-background);
}


/* Puzzle buttons */

.puzzle-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid var(--control-border);
    border-radius: 4px;
}

.puzzle-button .left-text {
    text-align: left;
    width: min-content;
    flex: 1;
}

.puzzle-button .center-text {
    transform: translateX(-50%);
    font-size: smaller;
}

.puzzle-button .right-icon {
    width: 24px;
    height: 24px;
}

.playing {
    color: var(--puzzle-button-text);
    background-color: var(--puzzle-button-playing);
}

.played {
    color: var(--puzzle-button-text);
    background-color: var(--puzzle-button-played);
}

.unplayed {
    color: var(--puzzle-button-text);
    background-color: var(--puzzle-button-unplayed);
}

/* Panel */

/* Container for the main content */
.panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 20px;
    gap: 20px;
    box-sizing: border-box;

    height: calc(100vh - 120px);
}

.inner-panel {
    border: 1px solid var(--panel-border);
    border-radius: 8px;
    background-color: var(--panel-background);

    flex: 0 1 65%;
    max-width: 65%;

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 0px 20px 20px 20px;
}

.borderless {
    border: none;
}

.paragraph {
    margin: 0px;
    padding: 20px 20px 0px 20px;
}

.note {
    margin-top: 20px;
    border: 1px solid var(--icon-error-color); 
    border-radius: 10px; 
    padding: 20px; 
    width: 80%;
} 

.info {
    margin-top: 20px;
    border: 1px solid var(--icon-info-color); 
    border-radius: 10px; 
    padding: 20px; 
    width: 80%;
} 

/* ComboBox*/

.combobox {
    background-color: var(--button-background);
    border: none;
    color: var(--button-text-color);
    border-radius: 4px;
    padding: 2px 4px 2px 10px;
    height: 26px;
    font-size: 16px;
    cursor: pointer;
}

.combobox:hover {
    background-color: var(--button-hover-background);
    border-color: var(--text-color);
}

.combobox option {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* CheckBox */

/* Dark mode */

.checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    margin-top: 10px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid var(--control-border);
    border-radius: 4px;
    background-color: var(--background-color);
    flex-shrink: 0;
    margin-right: 8px;
}

.checkbox-container input:checked~.checkmark {
    background-color: var(--button-background);
    border-color: var(--control-border);
}

.checkbox-container input:checked~.checkmark:hover {
    background-color: var(--button-hover-background);
    border-color: var(--text-color);
}

/* Apply focus styles regardless of whether the checkbox is checked or not */
.checkbox-container input:focus~.checkmark {
    outline: 1px solid var(--text-color);
    outline-offset: 0px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: 1px solid var(--button-text-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-container input:not(:checked)~.checkmark {
    background-color: var(--background-color);
    border-color: var(--control-border);
}

.checkbox-container input:not(:checked)~.checkmark:hover {
    background-color: var(--button-hover-background);
    border-color: var(--text-color);
}

/* Message Box */

/* Styling for the dialog */
dialog {
    width: 300px;
    padding: 20px;
    border: 1px solid var(--dialog-border);
    border-radius: 8px;
    text-align: center;
    background-color: var(--dialog-background);
    color: var(--text-color);

    /* Leave this hardcoded */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

dialog::backdrop {
    /* Leave this hardcoded */
    background-color: rgba(0, 0, 0, 0.25);
}

.info-icon {
    color: var(--icon-info-color);
}

.warning-icon {
    color: var(--icon-warning-color);
}

.error-icon {
    color: var(--icon-error-color);
}

dialog p {
    margin: 10px 0 20px;
    font-size: 16px;
}

dialog button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--button-text-color);
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

dialog button[type="submit"] {
    background-color: var(--button-background);
    color: var(--button-text-color);
}

dialog button[type="button"] {
    background-color: var(--button-background);
    color: var(--button-text-color);
}

/* About Box */

#aboutBoxVersion {
    font-size: 12px;
}

#copyrightStatement {
    font-size: 12px;
}

.aboutBoxSocialMediaLinks {
    justify-self: center;
    padding-top: 40px;
}

.aboutBoxSocialMediaLinks a {
    display: inline-block;
    height: 34px;
}

.aboutBoxSocialMediaIcon {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Icon styles */
.icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.info .icon {
    color: var(--icon-info-color);
}

.warning .icon {
    color: var(--icon-warning-color);
}

.error .icon {
    color: var(--icon-error-color);
}

/* Media query for portrait mode */

@media (orientation: portrait) {
    .panel {
        flex-direction: column;
        justify-content: start;
        align-content: center;
    }

    .inner-panel {
        max-width: 100%;
        flex: none;
    }
}